@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);



#slider-4 H2 {
  text-align: left;
  font-family: 'PT Serif', serif;
  color: #4f4f4f;
  font-size: 48px;
}
#slider-4 P {
  color: #4f4f4f;
}
#msg-box1-p H2 {
  text-align: left;
}
#msg-box2-2l DIV {
  font-size: 16px;
}
#msg-box2-2l H2 {
  font-size: 16px;
}
#dropdown-menu-2btn-6 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-6 .navbar-brand a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#dropdown-menu-2btn-6 .nav .link,
#dropdown-menu-2btn-6 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-6 .navbar,
#dropdown-menu-2btn-6 .dropdown-menu {
  background: #dddddd;
}
#dropdown-menu-2btn-6 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-6 .dropdown-menu a:hover,
#dropdown-menu-2btn-6 .dropdown-menu a:focus {
  background: #d3d3d3;
}
#dropdown-menu-2btn-6 .navbar-toggler {
  color: #000000;
}


#msg-box4-29 .lead P {
  text-align: left;
}
#msg-box4-29 .mbr-section-title {
  text-align: left;
}
#dropdown-menu-2btn-1b .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1b .navbar-brand a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#dropdown-menu-2btn-1b .nav .link,
#dropdown-menu-2btn-1b .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-1b .navbar,
#dropdown-menu-2btn-1b .dropdown-menu {
  background: #dddddd;
}
#dropdown-menu-2btn-1b .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1b .dropdown-menu a:hover,
#dropdown-menu-2btn-1b .dropdown-menu a:focus {
  background: #d3d3d3;
}
#dropdown-menu-2btn-1b .navbar-toggler {
  color: #000000;
}


#dropdown-menu-2btn-1g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1g .navbar-brand a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#dropdown-menu-2btn-1g .nav .link,
#dropdown-menu-2btn-1g .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-1g .navbar,
#dropdown-menu-2btn-1g .dropdown-menu {
  background: #dddddd;
}
#dropdown-menu-2btn-1g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1g .dropdown-menu a:hover,
#dropdown-menu-2btn-1g .dropdown-menu a:focus {
  background: #d3d3d3;
}
#dropdown-menu-2btn-1g .navbar-toggler {
  color: #000000;
}
#msg-box4-1m .lead P {
  text-align: left;
}
#msg-box4-1n .lead P {
  text-align: left;
}
#buttons1-2i .btn {
  font-size: 36px;
}


#dropdown-menu-2btn-2a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-2a .navbar-brand a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#dropdown-menu-2btn-2a .nav .link,
#dropdown-menu-2btn-2a .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-2a .navbar,
#dropdown-menu-2btn-2a .dropdown-menu {
  background: #dddddd;
}
#dropdown-menu-2btn-2a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-2a .dropdown-menu a:hover,
#dropdown-menu-2btn-2a .dropdown-menu a:focus {
  background: #d3d3d3;
}
#dropdown-menu-2btn-2a .navbar-toggler {
  color: #000000;
}
#msg-box4-2g .lead P {
  text-align: left;
}


#dropdown-menu-2btn-1y .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1y .navbar-brand a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#dropdown-menu-2btn-1y .nav .link,
#dropdown-menu-2btn-1y .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-1y .navbar,
#dropdown-menu-2btn-1y .dropdown-menu {
  background: #dddddd;
}
#dropdown-menu-2btn-1y .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1y .dropdown-menu a:hover,
#dropdown-menu-2btn-1y .dropdown-menu a:focus {
  background: #d3d3d3;
}
#dropdown-menu-2btn-1y .navbar-toggler {
  color: #000000;
}
#msg-box4-20 .mbr-section-title {
  text-align: left;
}
#msg-box4-20 .lead P {
  text-align: left;
}


#contacts1-2k P {
  color: #000000;
  text-align: right;
}
#dropdown-menu-2btn-z .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-z .navbar-brand a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#dropdown-menu-2btn-z .nav .link,
#dropdown-menu-2btn-z .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-z .navbar,
#dropdown-menu-2btn-z .dropdown-menu {
  background: #dddddd;
}
#dropdown-menu-2btn-z .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-z .dropdown-menu a:hover,
#dropdown-menu-2btn-z .dropdown-menu a:focus {
  background: #d3d3d3;
}
#dropdown-menu-2btn-z .navbar-toggler {
  color: #000000;
}
